
<div class="container-fluid strap">
  <div class="container 
   d-flex flex-column flex-md-row justify-content-around
    align-items-center py-4 px-5">

    <div class="col-sm-7 col-lg-8 col-xl-5 text-sm-start text-center text-white">
        <h4 class="p-0 m-0 pb-2">
          Ready to take your business to the next level?
        </h4>
        <p class="p-0 m-0">
          Schedule a free consultation with our team to discover how we can
          help!
        </p>
      </div>

    <button type="button" class="btn btn-lg fw-bold px-5 me-md-2 button"
      >Contact Us</button
    >
  </div>
</div>

<footer class="footer bg-light py-4">
  <div class="container pt-4">
    <div class="row">
      <!-- Contact Us Section -->
      <div class="col-md-3 col-12 mb-3">
        <h5>Contact Us</h5>
        <p>
          84, Street 123, City, Country<br />
          Phone: +123 456 7890<br />
        </p>
      </div>

      <!-- About Us Section -->
      <div class="col-md-3 col-12 mb-3">
        <h5>About Us</h5>
        <p>
          We are a team of passionate individuals dedicated to providing the
          best solutions.
        </p>
      </div>

      <!-- Our Services Section -->
      <div class="col-md-3 col-12 mb-3 text-center">
        <h5>Our Services</h5>
        <ul class="list-unstyled">
          <li><a href="/services">Service 1</a></li>
          <li><a href="/services">Service 2</a></li>
          <li><a href="/services">Service 3</a></li>
          <li><a href="/services">Service 4</a></li>
        </ul>
      </div>

      <!-- Links Section -->
      <div class="col-md-3 col-12 mb-3 text-center">
        <h5>Links</h5>
        <ul class="list-unstyled">
          <li><a href="/services">Link 1</a></li>
          <li><a href="/services">Link 2</a></li>
          <li><a href="/services">Link 3</a></li>
          <li><a href="/services">Link 4</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>

<style>
  .strap {
    background-color: #0049d3;
    padding: 20px 0;
  }
  .button{
    background-color: #fe6601;
    color: white;
  }

  .footer h5 {
    color: #333;
    font-weight: bold;
  }

  .footer ul {
    padding-left: 0;
  }

  .footer ul li a {
    color: #555;
    text-decoration: none;
    transition: color 0.3s;
  }

  .footer ul li a:hover {
    color: #007bff;
  }
</style>
